streamlit==1.32.0
python-dotenv>=1.0.0 
Pillow==10.3.0
PyPDF2==3.0.1
langchain
langchain-community
langchain-google-genai
google-generativeai
faiss-cpu
googletrans==4.0.0-rc1
duckduckgo-search==8.1.1
SpeechRecognition==3.14.3
pyaudio==0.2.14
deep-translator==1.11.4
gtts==2.5.4
langchain_experimental
langchain_core
google-cloud-texttospeech==2.27.0
google-cloud-speech2.33.0
streamlit-mic-recorder==0.0.8
langdetect
plotly
streamlit-audiorec
tabulate
